# Python 数据库操作

本教程将学习Python中如何操作数据库，包括SQLite、MySQL等数据库的使用。

## 1. SQLite 数据库操作

SQLite是一个轻量级的数据库，不需要独立的服务器进程，非常适合学习和小型项目。

In [1]:
import sqlite3
import os

# 连接到数据库（如果不存在会自动创建）
db_path = "example.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("数据库连接成功！")

# 创建表
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE
)
""")

print("表创建成功！")

# 提交更改
conn.commit()
conn.close()
print("数据库连接已关闭")

数据库连接成功！
表创建成功！
数据库连接已关闭

In [2]:
# 插入数据
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 插入单条数据
cursor.execute("""
INSERT INTO users (name, age, email) 
VALUES (?, ?, ?)
""", ("张三", 25, "zhangsan@example.com"))

# 插入多条数据
users = [
    ("李四", 30, "lisi@example.com"),
    ("王五", 28, "wangwu@example.com"),
    ("赵六", 35, "zhaoliu@example.com")
]

cursor.executemany("""
INSERT INTO users (name, age, email) 
VALUES (?, ?, ?)
""", users)

conn.commit()
print("数据插入成功！")
conn.close()

数据插入成功！

In [3]:
# 查询数据
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 查询所有数据
cursor.execute("SELECT * FROM users")
all_users = cursor.fetchall()
print("所有用户:")
for user in all_users:
    print(user)

print("\n" + "="*50)

# 查询特定条件的数据
cursor.execute("SELECT * FROM users WHERE age > ?", (28,))
older_users = cursor.fetchall()
print("年龄大于28的用户:")
for user in older_users:
    print(user)

print("\n" + "="*50)

# 查询单条数据
cursor.execute("SELECT * FROM users WHERE email = ?", ("zhangsan@example.com",))
user = cursor.fetchone()
print(f"查询单条数据: {user}")

conn.close()

所有用户:
(1, '张三', 25, 'zhangsan@example.com')
(2, '李四', 30, 'lisi@example.com')
(3, '王五', 28, 'wangwu@example.com')
(4, '赵六', 35, 'zhaoliu@example.com')

==================================================
年龄大于28的用户:
(2, '李四', 30, 'lisi@example.com')
(4, '赵六', 35, 'zhaoliu@example.com')

==================================================
查询单条数据: (1, '张三', 25, 'zhangsan@example.com')

In [4]:
# 更新数据
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 更新单个字段
cursor.execute("""
UPDATE users 
SET age = ? 
WHERE name = ?
""", (26, "张三"))

# 更新多个字段
cursor.execute("""
UPDATE users 
SET age = ?, email = ? 
WHERE name = ?
""", (31, "newemail@example.com", "李四"))

conn.commit()
print("数据更新成功！")

# 查看更新后的数据
cursor.execute("SELECT * FROM users")
print("\n更新后的数据:")
for user in cursor.fetchall():
    print(user)

conn.close()

数据更新成功！

更新后的数据:
(1, '张三', 26, 'zhangsan@example.com')
(2, '李四', 31, 'newemail@example.com')
(3, '王五', 28, 'wangwu@example.com')
(4, '赵六', 35, 'zhaoliu@example.com')

In [5]:
# 删除数据
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 删除特定条件的数据
cursor.execute("DELETE FROM users WHERE name = ?", ("赵六",))

conn.commit()
print("数据删除成功！")

# 查看删除后的数据
cursor.execute("SELECT * FROM users")
print("\n删除后的数据:")
for user in cursor.fetchall():
    print(user)

conn.close()

数据删除成功！

删除后的数据:
(1, '张三', 26, 'zhangsan@example.com')
(2, '李四', 31, 'newemail@example.com')
(3, '王五', 28, 'wangwu@example.com')

## 2. MySQL 数据库操作

MySQL 是一个广泛使用的关系型数据库管理系统。在 Python 中，我们通常使用 `pymysql` 或 `mysql-connector-python` 库来操作 MySQL。

### 安装 PyMySQL

```bash
pip install pymysql
```

In [ ]:
import pymysql

# 注意：以下代码需要你有一个运行中的 MySQL 服务
# 并且需要替换为你自己的数据库配置信息

db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'your_password',
    'database': 'test_db',
    'charset': 'utf8mb4',
    'cursorclass': pymysql.cursors.DictCursor
}

try:
    # 连接数据库
    connection = pymysql.connect(**db_config)
    print("MySQL 数据库连接成功！")
    
    with connection.cursor() as cursor:
        # 创建表
        sql = """
        CREATE TABLE IF NOT EXISTS employees (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100) NOT NULL,
            position VARCHAR(100),
            salary DECIMAL(10, 2)
        )
        """
        cursor.execute(sql)
        print("表创建成功！")
        
        # 插入数据
        sql = "INSERT INTO employees (name, position, salary) VALUES (%s, %s, %s)"
        cursor.execute(sql, ('Alice', 'Manager', 8000.00))
        cursor.execute(sql, ('Bob', 'Developer', 6000.00))
        
        # 提交更改
        connection.commit()
        print("数据插入成功！")
        
        # 查询数据
        sql = "SELECT * FROM employees"
        cursor.execute(sql)
        results = cursor.fetchall()
        print("\n所有员工:")
        for row in results:
            print(row)
            
        # 更新数据
        sql = "UPDATE employees SET salary = %s WHERE name = %s"
        cursor.execute(sql, (8500.00, 'Alice'))
        connection.commit()
        print("\n数据更新成功！")
        
        # 删除数据
        sql = "DELETE FROM employees WHERE name = %s"
        cursor.execute(sql, ('Bob',))
        connection.commit()
        print("数据删除成功！")

finally:
    if 'connection' in locals() and connection.open:
        connection.close()
        print("MySQL 连接已关闭")

## 3. 使用上下文管理器管理数据库连接

In [ ]:
# 使用上下文管理器（推荐方式）
def get_db_connection(db_path):
    """获取数据库连接（使用上下文管理器）"""
    conn = sqlite3.connect(db_path)
    conn.row_factory = sqlite3.Row  # 让查询结果可以按列名访问
    return conn

# 使用上下文管理器
with get_db_connection("example.db") as conn:
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM users WHERE age > ?", (25,))
    users = cursor.fetchall()
    
    print("使用上下文管理器查询:")
    for user in users:
        # 可以按列名访问
        print(f"ID: {user['id']}, 姓名: {user['name']}, 年龄: {user['age']}")

In [ ]:
# 事务处理（要么全部成功，要么全部失败）
conn = sqlite3.connect("example.db")
cursor = conn.cursor()


try:
    # 开始一个事务（多个操作）
    cursor.execute("UPDATE users SET age = ? WHERE name = ?", (27, "王五"))
    cursor.execute("UPDATE users SET age = ? WHERE name = ?", (32, "李四"))
    
    # 模拟一个错误
    # cursor.execute("UPDATE users SET age = ? WHERE name = ?", ("invalid", "张三"))
    
    # 如果所有操作都成功，提交事务
    conn.commit()
    print("事务提交成功！")
except Exception as e:
    # 如果发生错误，回滚事务
    conn.rollback()
    print(f"发生错误，事务已回滚: {e}")

conn.close()